Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.
Examples
is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

In [1]:
def is_symmetrical(num):
    return str(num) == str(num)[::-1]

print(is_symmetrical(7227))
print(is_symmetrical(12567)) 
print(is_symmetrical(44444444)) 
print(is_symmetrical(9939)) 
print(is_symmetrical(1112111))

True
False
True
False
True

Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.
Examples
multiply_nums("2, 3") ➞ 6
multiply_nums("1, 2, 3, 4") ➞ 24
multiply_nums("54, 75, 453, 0") ➞ 0
multiply_nums("10, -2") ➞ -20

In [2]:
def multiply_nums(nums):
    # Split the string into a list of numbers
    num_list = [int(x) for x in nums.split(", ")]
    # Initialize a variable to store the product
    product = 1
    # Iterate through the list of numbers
    for num in num_list:
        # Multiply the product by the current number
        product *= num
    # Return the final product
    return product

print(multiply_nums("2, 3")) 
print(multiply_nums("1, 2, 3, 4")) 
print(multiply_nums("54, 75, 453, 0"))
print(multiply_nums("10, -2"))

6
24
0
-20

Question 3
Create a function that squares every digit of a number.
Examples
square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414

In [3]:
def square_digits(num):
    # Convert the number to a string
    num_str = str(num)
    # Initialize an empty list to store the squared digits
    squared_digits = []
    # Iterate through the string
    for char in num_str:
        # Square the current digit and add it to the list
        squared_digits.append(int(char)**2)
    # Join the list of squared digits into a single string
    squared_num_str = ''.join(map(str,squared_digits))
    # Return the squared number
    return int(squared_num_str)

print(square_digits(9119)) 
print(square_digits(2483)) 
print(square_digits(3212))

811181
416649
9414

Question 4
Create a function that sorts a list and removes all duplicate items from it.
Examples
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [5]:
def setify(lst):
    #Remove duplicate items using set
    lst=list(set(lst))
    #sort the list
    lst.sort()
    return lst

print(setify([1, 3, 3, 5, 5])) 
print(setify([4, 4, 4, 4])) 
print(setify([5, 7, 8, 9, 10, 15])) 
print(setify([3, 3, 3, 2, 1]))

[1, 3, 5]
[4]
[5, 7, 8, 9, 10, 15]
[1, 2, 3]

Question 5
Create a function that returns the mean of all digits.
Examples
mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6

In [6]:
def mean(num):
    # Convert the number to a string
    num_str = str(num)
    # Initialize a variable to store the sum of digits
    digit_sum = 0
    # Initialize a variable to store the number of digits
    digit_count = 0
    # Iterate through the string
    for char in num_str:
        # Add the current digit to the sum
        digit_sum += int(char)
        # Increment the digit count
        digit_count += 1
    # Return the mean of the digits
    return digit_sum/digit_count

print(mean(42)) 
print(mean(12345)) 
print(mean(666))

3.0
3.0
6.0